@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
* { box-sizing: border-box; }

body { margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; }

.container { max-width: 1600px; margin: 0 auto; }

#home { background: url("../images/bg-header.jpg") round; background-size: cover; }

#home .home__header { width: 100%; min-height: 100vh; color: #fff; position: relative; }

#home .home__header .home__nav { padding: 20px; }

#home .home__header .home__nav .nav__list { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; list-style-type: none; }

#home .home__header .home__nav .nav__list .nav__element { margin: 20px 50px; font-size: 16px; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; }

#home .home__header .home__nav .nav__list .nav__element .nav__element--link { text-decoration: none; color: #fff; }

#home .home__header .home__nav .nav__list .nav__element .nav__element--link:hover { cursor: pointer; color: #16a085; transition: .5s; }

#home .home__header .home__nav .nav__list .nav__element .nav__icon { filter: brightness(0) invert(1); }

#home .home__header .home__content { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50%; min-height: 300px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; text-align: center; }

#home .home__header .home__content .content__header { font-size: 2.2em; text-transform: uppercase; letter-spacing: 7px; margin: 5px; }

#home .home__header .home__content .content__span { padding: 5px; font-weight: 500; letter-spacing: 3px; }

#home .home__header .home__content .content__btn { padding: 20px 40px; margin: 25px 20px; background: #16a085; color: #fff; font-size: 0, 7rem; font-weight: bold; letter-spacing: 2px; text-transform: uppercase; border: none; border-radius: 5px; }

#home .home__header .icons__container { position: absolute; bottom: -2%; left: 50%; transform: translate(-50%, -50%); padding: 10px; color: white; font-size: 26px; }

#home .home__header .icons__container .icons__element { color: #fff; padding: 10px; }

#home .home__header .icons__container .icons__element:hover { cursor: pointer; color: #16a085; transition: .5s; }

#phone { position: relative; background: #f5f6f7; }

#phone .phone__content { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; width: 35%; min-height: 495px; margin-left: 5%; padding: 20px; }

#phone .phone__content .content__header { color: #16a085; margin: 0; padding: 20px; font-size: 1.2rem; text-transform: uppercase; letter-spacing: 5px; }

#phone .phone__content .content__paragraph { color: #373737; margin: 0; padding: 20px; font-size: 14px; letter-spacing: 3px; line-height: 24px; }

#phone .phone__content .content__paragraph .paragraph__span { font-weight: bold; }

#phone .phone__content .content__btn { padding: 20px 40px; margin: 25px 20px; background: #16a085; color: #fff; font-size: 0, 7rem; font-weight: bold; letter-spacing: 2px; text-transform: uppercase; border: none; border-radius: 5px; -ms-flex-item-align: start; align-self: flex-start; }

#phone .iphone { position: absolute; width: 45%; min-height: 705px; top: 83px; left: 40%; background: url("../images/phone.png") no-repeat center; }
