@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
* { box-sizing: border-box; }

body { margin: 0; padding: 0; }

.container { max-width: 1800px; margin: 0 auto; }

#home { background: url("../images/bg-header.jpg") round; background-size: cover; }

#home .home__header { width: 100%; min-height: 100vh; color: #fff; font-family: 'Montserrat', sans-serif; position: relative; }

#home .home__header .home__nav { padding: 20px; }

#home .home__header .home__nav .nav__list { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; list-style-type: none; }

#home .home__header .home__nav .nav__list .nav__element { margin: 20px 50px; font-size: 16px; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; }

#home .home__header .home__nav .nav__list .nav__element .nav__element--link { text-decoration: none; color: #fff; }

#home .home__header .home__nav .nav__list .nav__element .nav__element--link:hover { cursor: pointer; color: #16a085; transition: .5s; }

#home .home__header .home__nav .nav__list .nav__element .nav__icon { filter: brightness(0) invert(1); }

#home .home__header .header__content { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50%; min-height: 300px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; }

#home .home__header .header__content .content__header { font-size: 2.2em; text-transform: uppercase; letter-spacing: 7px; margin: 5px; }

#home .home__header .header__content .content__span { padding: 5px; font-weight: 500; letter-spacing: 3px; }

#home .home__header .header__content .content__btn { padding: 20px 40px; margin-top: 25px; background: #16a085; color: #fff; font-size: 0, 7rem; font-weight: bold; letter-spacing: 2px; text-transform: uppercase; border: none; border-radius: 5px; }

#home .home__header .icons__container { position: absolute; bottom: -2%; left: 50%; transform: translate(-50%, -50%); padding: 10px; color: white; font-size: 26px; }

#home .home__header .icons__container .icons__element { color: #fff; padding: 10px; }

#home .home__header .icons__container .icons__element:hover { cursor: pointer; color: #16a085; transition: .5s; }
