@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #373737;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin button {
    padding: 20px 40px;
    margin: 25px 20px;
    background: #16a085;
    color: #fff;
    font-size: 0, 7rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    outline: none;
}

#home {
    background: url('../images/bg-header.jpg') round;
    background-size: cover;

    .home__header {
        width: 100%;
        min-height: 100vh;
        color: #fff;
        position: relative;

        .home__nav {
            padding: 20px;

            .nav__list {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                list-style-type: none;

                .nav__element {
                    margin: 20px 50px;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 2px;

                    .nav__element--link {
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            cursor: pointer;
                            color: #16a085;
                            transition: .5s;
                        }
                    }

                    .nav__icon {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }

        .home__content {
            @include centerer;
            width: 50%;
            min-height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;

            .content__header {
                font-size: 2.2em;
                text-transform: uppercase;
                letter-spacing: 7px;
                margin: 5px;
            }

            .content__span {
                padding: 5px;
                font-weight: 500;
                letter-spacing: 3px;
            }

            .content__btn {
                @include button;
            }
        }

        .icons__container {
            position: absolute;
            bottom: -2%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            color: white;
            font-size: 26px;

            .icons__element {
                color: #fff;
                padding: 10px;

                &:hover {
                    cursor: pointer;
                    color: #16a085;
                    transition: .5s;
                }
            }
        }
    }
}

#phone {
    position: relative;
    background: #f5f6f7;

    .phone__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 35%;
        min-height: 495px;
        margin-left: 5%;
        padding: 20px;

        .content__header {
            color: #16a085;
            margin: 0;
            padding: 20px;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        .content__paragraph {
            color: #373737;
            margin: 0;
            padding: 20px;
            font-size: 14px;
            letter-spacing: 3px;
            line-height: 24px;

            .paragraph__span {
                font-weight: bold;
            }
        }

        .content__btn {
            @include button;
            align-self: flex-start;
        }
    }

    .iphone {
        width: 45%;
        max-height: 411px;
        position: absolute;
        top: 83px;
        left: 40%;
        overflow: hidden;
    }
}

#design {
    position: relative;

    .container--flex {
        display: flex;
        justify-content: flex-end;
    }

    .design__content {
        width: 35%;
        min-height: 557px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: flex-end;
        margin-right: 5%;
        padding: 20px;

        .content__header {
            color: #16a085;
            margin: 0;
            padding: 20px;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        .content__paragraph {
            color: #373737;
            margin: 0;
            padding: 20px;
            font-size: 14px;
            letter-spacing: 3px;
            line-height: 24px;

            .paragraph__span {
                font-weight: bold;
            }
        }

        .content__btn {
            @include button;
            align-self: flex-start;
        }

        .content__numbers {
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 2px;
            padding: 0 20px;
        }

        .content__icons {
            font-size: 28px;
            padding: 0 20px;
            letter-spacing: 5px;

            .icons__element {
                color: #000;
            }
        }
    }

    .iphone {
        max-height: 446px;
        position: absolute;
        top: 20%;
        left: 9%;
        overflow: hidden;
    }
}

#community {
    background: #f5f6f7;

    .community__wrapper {
        min-height: 482px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .wrapper__box {
            width: 370px;
            min-height: 244px;
        }

        .wrapper__box--text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .content__header {
                text-transform: uppercase;
                margin: 0;
                padding: 20px;
                letter-spacing: 3px;
            }

            .content__paragraph {
                font-size: 14px;
                margin: 0;
                padding: 0 20px;
                line-height: 24px;
            }
        }

        .wrapper__box--image1 {
            background: url('../images/bus.jpg') no-repeat center;
            background-size: cover;
        }

        .wrapper__box--image2 {
            background: url('../images/flowers.jpg') no-repeat center;
            background-size: cover;
        }
    }
}

#mail {
    background: url('../images/bg-input.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 790px;
    position: relative;

    .mail__content {
        @include centerer;
        width: 40%;
        text-align: center;

        .mail__header {
            color: #fff;
            margin: 0;
            padding: 20px;
            font-size: 1.8rem;
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        .mail__input {
            font-size: 21px;
            margin: 0;
            border: 0;
            padding: 15px 30px;
            border-radius: 5px;
            outline: none;
        }

        .mail__btn {
            @include button;
            margin: 0;
            margin-left: -10px;
            padding: 20px;
            vertical-align: bottom;
            border-radius: 0 5px 5px 0;

            &:hover {
                cursor: pointer;
                background: #ed1491;
                transition: .8s;
            }
        }
    }
}

#download {
    background: #f5f6f7;

    .download__wrapper {
        min-height: 396px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .wrapper__content {
            text-align: center;
            width: 70%;

            .content__header {
                text-transform: uppercase;
                margin: 0;
                padding: 20px;
                letter-spacing: 3px;
            }

            .content__paragraph {
                font-size: 14px;
                margin: 0;
                padding: 0 20px;
                line-height: 24px;
                text-transform: uppercase;
                font-weight: 500;
            }

            .content__buttons {
                padding: 0 20px;
                display: flex;
                justify-content: center;

                .buttons__box {
                    background: #1abc9c;
                    color: #fff;
                    width: 280px;
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 25px 10px;
                    padding-left: 25px;
                    border: none;
                    border-radius: 3px;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 2px;
                }

                .box__btn {
                    height: 100%;
                    font-size: 20px;
                    padding: 0;
                    width: 50px;
                    border: none;
                    background: #16a085;
                    border-radius: 0 3px 3px 0;
                    outline: none;

                    &:hover {
                        cursor: pointer;
                        background: #ed1491;
                        transition: .8s;
                    }

                    .btn__link {
                        color: #fff;
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;

                        .btn__icon {
                            position: absolute;
                            @include centerer;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background: #f5f6f7;

    .footer__wrapper {
        min-height: 131px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;

        .content__list {
            display: flex;
            list-style-type: none;
            justify-content: left;
            padding: 0 20px;
            text-transform: uppercase;
            letter-spacing: 3px;

            .list__element {
                position: relative;
                margin: 5px 10px;

                &:first-child {
                    margin-left: 0;
                }

                &::after {
                    position: absolute;
                    top: 0;
                    right: -9px;
                    content: '';
                    display: block;
                    height: 100%;
                    width: 2px;
                    background: #16a085;
                }
            }
        }

        .content__paragraph {
            letter-spacing: 2px;
            padding: 0 20px;
        }

        .wrapper__icon {
            padding: 20px;
        }
    }
}